{% extends 'base.html' %}
{% block data %}
<form method="post" action="/formsubmit">
    {% csrf_token %}
    <table>
        <tr>
            <td>mobile</td>
            <td><input type="number" name="mn"></td>
        </tr>
        <tr>
            <td>feedback</td>
            <td><textarea name="feedback" rows="5" cols="30"></textarea></td>
        </tr>
        <tr>
            <td><input type="submit" name="same" value="post"></td>
        </tr>
    </table>
    
</form>
{% endblock data %}