<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatiable" content="IF=edge">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Name is:{{name}}</h1>
    <h1>Name's length:{{name|length}}</h1>
    <h1>Name in upper:{{name|upper}}</h1>
    <h1>Name in lower:{{name|lower}}</h1>
    <h1>Currentdatetime is:{{cdt}}</h1>
    <p>{{cdt|date:"d/m/y"}}</p>
    <p>{{cdt|date:"d-m-y"}}</p>
    <p>{{cdt|date:"D F Y"}}</p>
</body>
</html>